fastapi>=0.116.0
uvicorn[standard]>=0.35.0
sqlalchemy>=2.0.40
aiosqlite>=0.21.0
pydantic>=2.11.0
asyncpg
python-multipart 
pypdf
passlib[bcrypt] 
python-jose[cryptography] 
python-multipart 
pydantic[email]
aioboto3 
celery 
langchain
langchain-community 
langchain-core 
langchain-openai 
langchain-text-splitters
redis
sentence-transformers
elasticsearch